<h1>Specimen Database</h1>
<h2>University of the Philippines Diliman: Institute of Biology</h2>

<%= link_to 'Upload new data', controller: :upload %><br>
<%= link_to 'View specimens', controller: :specimens %>
